html,
body {
    font-family: 'Noto Serif', 'Source Han Serif', 'Noto Sans', Calibri;
    font-size: 100%;
    background-color: #f0f0f0;
}

.skip-link {
  /* Hide by default */
  position: absolute;
  left: -9999px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
  z-index: 999;
  
  /* Styling when focused */
  &:focus {
    position: fixed;
    left: 1rem;
    top: 1rem;
    width: auto;
    height: auto;
    padding: 0.5rem 1rem;
    background: #f0f0f0;
    color: #1c567a;
    border: 2px solid #b8b3b3;
    clip: auto;
  }
}

header {
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

nav {
    display:flex;
    height: 50px;
    font-size: 120%;
    font-weight: bold;
    border-bottom: 2px solid #b8b3b3;
}

nav ul {
    list-style-type:none;
    display:flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    gap: 20px;
}

nav ul :nth-child(1) {
    justify-content: space-around;
    height: 40px;
}

nav li {
    text-align: center;
}

nav li:hover {
    font-size: 130%;
}

nav li.active a {
    text-transform: uppercase;
}

a:visited, a:link {
    color: #1c567a;
}

.h1-container {
  width: 100%;
  height: 150px;
  background-color: #608297;
  display:flex;
  align-items: center;
  justify-content: center; 
}

h1 {
    text-align: center;
    font-family: 'Noto Serif', 'Source Han Serif', 'Noto Sans', Calibri;
    color: #f0f0f0;
    font-weight: bold;
    margin:0;
}

main {
    background-color: #f0f0f0;
    font-size: 1.2em;
    margin: 20px;

}

div {
    justify-content: space-around;
}

p {
    line-height: 1.5;
}

.colorBlocks {
    align-items: center;   
    display:flex;
    flex-wrap: wrap;
    justify-content:space-around;
    gap: 20px;
}

.colorExamples {
    align-items: center;  
    display:flex;
    justify-content:space-around;
    gap: min(4vw, 10px);
    padding: 10px;
}

.colorExamples div {
    border: 1px solid #f0f0f0;
    padding:0%;
    border-radius: 5px;
}

.colorExamples img {
    border: 1px solid #f0f0f0;
    padding:0%;
    border-radius: 5px;
}

.colorPairs {
    align-items: center;
    justify-items: center;
    display:grid;
    grid-template-columns: 120px 120px 50px 120px 160px;;
    gap: min(4vw, 10px);
    overflow-x: auto;
}

#colorBlock {
    width: 120px; 
    height: 120px;
    border: 1px solid #f0f0f0;
    padding:0%;
    border-radius: 5px;
}

#arrow {
    width: 50px;
    height: 50px;
    align-items: center;
    justify-items: center;
}

#eInterm {
    border: 1px solid #f0f0f0;
    padding:0%;
    border-radius: 5px;
}

#source {
    text-align: center;
    font-size: 0.8em;
    color: #666;
}

footer {
    background-color: #f0f0f0;
    text-align: center;
    padding: 20px;
}
